{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <h1>jspider trainer info:-</h1>
    <table border="2px"cellspacing="20px"cellpadding="20px">
    <thead>
      <tr>
         <th>eid</th>
         <th>ename</th>	
         <th>edesg</th>
         <th>esal</th>
         <th>ecompany</th>
      </tr>
</thead>
<tbody>
   <tr>
   <td>jsp101</td>
   <td>mr.raveesh</td>      
   <td>vice president</td>
   <td>100000</td> 
   <td>jspiders</td>
   </tr>  
   <tr>
   <td>typ102</td>
   <td>mr.santosh</td>      
   <td>sr.s/w eng</td>
   <td>800000</td> 
   <td>test yanthra</td>
   </tr>  
<tr>
   <td>jsp101</td>
   <td>mr.kishore</td>      
   <td>jr.eng</td>
   <td>400000</td> 
   <td>infosys</td>
   </tr>  
<tr>
   <td>jsp101</td>
   <td>ms.greeshma</td>      
   <td>sr.trainer</td>
   <td>100000</td> 
   <td>capgemini</td>
  </tr> 
</table>

</body>
</html>